USE [Ventas_Tech_DB]
GO

-- =====================================================================
-- 1. ELIMINACIÓN DE TABLAS EXISTENTES 
-- =====================================================================
IF OBJECT_ID('dbo.venta', 'U') IS NOT NULL DROP TABLE [dbo].[venta];
GO
IF OBJECT_ID('dbo.producto', 'U') IS NOT NULL DROP TABLE [dbo].[producto];
GO
IF OBJECT_ID('dbo.cliente', 'U') IS NOT NULL DROP TABLE [dbo].[cliente];
GO
IF OBJECT_ID('dbo.categoria', 'U') IS NOT NULL DROP TABLE [dbo].[categoria];
GO

-- =====================================================================
-- 2. CREACIÓN DE TABLAS
-- =====================================================================

/****** Objeto: Table [dbo].[categoria] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id_categoria] [int] NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[descripcion] [varchar](400) NULL,
 CONSTRAINT [PK_categoria] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Objeto: Table [dbo].[cliente] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] NOT NULL,
	[nombre_cliente] [varchar](512) NOT NULL,
	[email] [varchar](200) NULL,
	[ciudad] [varchar](200) NOT NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Objeto: Table [dbo].[producto] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[precio] [numeric](15, 2) NOT NULL,
	[id_categoria] [int] NOT NULL,
 CONSTRAINT [PK_producto] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Objeto: Table [dbo].[venta] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta](
	[id_venta] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[id_cliente] [int] NULL,
	[id_producto] [int] NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](15, 2) NOT NULL,
 CONSTRAINT [PK_venta] PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- =====================================================================
-- 3. CREACIÓN DE LLAVES FORÁNEAS (RELACIONES)
-- =====================================================================

ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_producto_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_producto_categoria]
GO

ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_venta_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_venta_cliente]
GO

ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_venta_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_venta_producto]
GO
